*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.container{width:80%;background-color: lightgray;margin:0 auto;padding:0 20px;}
nav.menu-01 {text-align: center;}

.menu-01 ul.level-1 {
    list-style: none;
    background: #efefef;
    display: inline-table;
    position:relative;
}

.menu-01 ul.level-1 li{float: left;}

.menu-01 ul.level-1 li a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 17px;
    color:black;
}

/* Hover of menu 1 and level 1*/
.menu-01 ul.level-1 li:hover a{
    background-color: lightblue;
}

/*Drop down menu 01*/

.menu-01 .level-2 {
    /*You can put a width here*/
    list-style-type: none;
    position: absolute;
    border-top:2px solid black;
    display:none;
    
}

.menu-01 > ul > li > .level-2 li {
    float: none;
    list-style-type: none;
    background-color: green;
    border-bottom: 1px solid white;
}

.menu-01 ul.level-1 li:hover .level-2 li a {
    background-color: #efefef;

}

.menu-01 ul.level-1 li .level-2 li:hover a {
    background-color: lightblue;
}

.dropdown-menu:hover .level-2 {
    background-color: blue;
    display: block;
}



/*Menu 02*/



/*Menu 02*/